$badge-font-size: 1em;
$badge-gutter: $badge-font-size / ($scale-ratio * 2);
$badge-height: $badge-gutter * 2 + $badge-font-size;

.badge {
  font-size: $badge-font-size;
  line-height: $badge-font-size;
  padding: $badge-gutter;
  background-color: $color-neutral-mid;
  border: 1px solid $color-neutral-mid;
  color: $color-white;
  border-radius: 6px;

  &.badge-inverted {
    border: 1px solid $color-neutral-mid;
    background-color: $color-white;
    color: $color-neutral-mid;
  }

  &.badge-tag {
    border-radius: 0;
    padding-right: $badge-gutter * 2;
    clip-path:
      polygon(
        0% 0%,     /* top left */
        10% 0%,     /* top left */
        90% 0%,    /* top right */
        100% 48%,   /* top right */
        100% 52%,  /* bottom right */
        90% 100%,  /* bottom right */
        0% 100%,   /* bottom left */
        0% 0%      /* bottom left */
      );
  }

  &.badge-plate {
    padding-left: $badge-gutter * 2;
    padding-right: $badge-gutter * 2;
    clip-path:
      polygon(
        0% 28%,     /* top left */
        10% 0%,     /* top left */
        90% 0%,    /* top right */
        100% 28%,   /* top right */
        100% 72%,  /* bottom right */
        90% 100%,  /* bottom right */
        10% 100%,   /* bottom left */
        0 72%      /* bottom left */
      );
  }

  &.badge-primary {
    border-color: $color-primary-mid;
    background-color: $color-primary-mid;
  }

  &.badge-secondary {
    border-color: $color-secondary-mid;
    background-color: $color-secondary-mid;
  }
}
